# Real-Estate Price Prediction

A data science project aiming to predict the price of a real-estate in Ames, Iowa.

## 1. Import Required Libraries

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20, 10)

## 2. Loading Datasets

In [3]:
df = pd.read_csv("./house_prices.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
df.shape

(1460, 81)

## 3. Data Cleaning

The dataset is quite complex with up to 79 explanatory variables describing almost every single aspect of real-estates in Ames, Iowa. We will simplify the data by only including the barebones variables (to determine a house pice) in our analysis, which are:
1. LotArea
2. Neighborhood
3. BedroomAbvGr
4. FullBath
5. HalfBath
6. SalePrice

In [5]:
df1 = df[['LotArea', 'Neighborhood', 'BedroomAbvGr', 'FullBath', 'HalfBath', 'SalePrice']]
df1.head()

   LotArea Neighborhood  BedroomAbvGr  FullBath  HalfBath  SalePrice
0     8450      CollgCr             3         2         1     208500
1     9600      Veenker             3         2         0     181500
2    11250      CollgCr             3         2         1     223500
3     9550      Crawfor             3         1         0     140000
4    14260      NoRidge             4         2         1     250000

In [6]:
df1 = df[['LotArea', 'Neighborhood', 'BedroomAbvGr', 'FullBath', 'HalfBath', 'KitchenAbvGr', 'TotalBsmtSF', 'SalePrice']]
df1.head()

,LotArea,Neighborhood,BedroomAbvGr,FullBath,HalfBath,KitchenAbvGr,TotalBsmtSF,SalePrice
0,8450,CollgCr,3,2,1,1,856,208500
1,9600,Veenker,3,2,0,1,1262,181500
2,11250,CollgCr,3,2,1,1,920,223500
3,9550,Crawfor,3,1,0,1,756,140000
4,14260,NoRidge,4,2,1,1,1145,250000

Find any null values.

In [7]:
df1.isnull().sum()

LotArea         0
Neighborhood    0
BedroomAbvGr    0
FullBath        0
HalfBath        0
KitchenAbvGr    0
TotalBsmtSF     0
SalePrice       0
dtype: int64

Find invalid data for each variables.

In [8]:
df1['LotArea'].unique()

array([ 8450,  9600, 11250, ..., 17217, 13175,  9717])

In [9]:
df1['Neighborhood'].unique()

array(['CollgCr', 'Veenker', 'Crawfor', 'NoRidge', 'Mitchel', 'Somerst',
       'NWAmes', 'OldTown', 'BrkSide', 'Sawyer', 'NridgHt', 'NAmes',
       'SawyerW', 'IDOTRR', 'MeadowV', 'Edwards', 'Timber', 'Gilbert',
       'StoneBr', 'ClearCr', 'NPkVill', 'Blmngtn', 'BrDale', 'SWISU',
       'Blueste'], dtype=object)

In [10]:
df1['BedroomAbvGr'].unique()

array([3, 4, 1, 2, 0, 5, 6, 8])

In [11]:
df1['FullBath'].unique()

array([2, 1, 3, 0])

In [12]:
df1['HalfBath'].unique()

array([1, 0, 2])

In [13]:
df1['SalePrice'].unique()

array([208500, 181500, 223500, 140000, 250000, 143000, 307000, 200000,
       129900, 118000, 129500, 345000, 144000, 279500, 157000, 132000,
       149000,  90000, 159000, 139000, 325300, 139400, 230000, 154000,
       256300, 134800, 306000, 207500,  68500,  40000, 149350, 179900,
       165500, 277500, 309000, 145000, 153000, 109000,  82000, 160000,
       170000, 130250, 141000, 319900, 239686, 249700, 113000, 127000,
       177000, 114500, 110000, 385000, 130000, 180500, 172500, 196500,
       438780, 124900, 158000, 101000, 202500, 219500, 317000, 180000,
       226000,  80000, 225000, 244000, 185000, 144900, 107400,  91000,
       135750, 136500, 193500, 153500, 245000, 126500, 168500, 260000,
       174000, 164500,  85000, 123600, 109900,  98600, 163500, 133900,
       204750, 214000,  94750,  83000, 128950, 205000, 178000, 118964,
       198900, 169500, 100000, 115000, 190000, 136900, 383970, 217000,
       259500, 176000, 155000, 320000, 163990, 136000, 153900, 181000,
        84500, 128000,  87000, 150000, 150750, 220000, 171000, 231500,
       166000, 204000, 125000, 105000, 222500, 122000, 372402, 235000,
        79000, 109500, 269500, 254900, 162500, 412500, 103200, 152000,
       127500, 325624, 183500, 228000, 128500, 215000, 239000, 163000,
       184000, 243000, 211000, 501837, 200100, 120000, 475000, 173000,
       135000, 153337, 286000, 315000, 192000, 148500, 311872, 104000,
       274900, 171500, 112000, 143900, 277000,  98000, 186000, 252678,
       156000, 161750, 134450, 210000, 107000, 311500, 167240, 204900,
        97000, 386250, 290000, 106000, 192500, 148000, 403000,  94500,
       128200, 216500,  89500, 185500, 194500, 318000, 262500, 110500,
       241500, 137000,  76500, 276000, 151000,  73000, 175500, 179500,
       120500, 266000, 124500, 201000, 415298, 228500, 244600, 179200,
       164700,  88000, 153575, 233230, 135900, 131000, 167000, 142500,
       175000, 158500, 267000, 149900, 295000, 305900,  82500, 360000,
       165600, 119900, 375000, 188500, 270000, 187500, 342643, 354000,
       301000, 126175, 242000, 324000, 145250, 214500,  78000, 119000,
       284000, 207000, 228950, 377426, 202900,  87500, 140200, 151500,
       157500, 437154, 318061,  95000, 105900, 177500, 134000, 280000,
       198500, 147000, 165000, 162000, 172400, 134432, 123000,  61000,
       340000, 394432, 179000, 187750, 213500,  76000, 240000,  81000,
       191000, 426000, 106500, 129000,  67000, 241000, 245500, 164990,
       108000, 258000, 168000, 339750,  60000, 222000, 181134, 149500,
       126000, 142000, 206300, 275000, 109008, 195400,  85400,  79900,
       122500, 212000, 116000,  90350, 555000, 162900, 199900, 119500,
       188000, 256000, 161000, 263435,  62383, 188700, 124000, 178740,
       146500, 187000, 440000, 251000, 132500, 208900, 380000, 297000,
        89471, 326000, 374000, 164000,  86000, 133000, 172785,  91300,
        34900, 430000, 226700, 289000, 208300, 164900, 202665,  96500,
       402861, 265000, 234000, 106250, 184750, 315750, 446261, 200624,
       107500,  39300, 111250, 272000, 248000, 213250, 179665, 229000,
       263000, 112500, 255500, 121500, 268000, 325000, 316600, 135960,
       142600, 224500, 118500, 146000, 131500, 181900, 253293, 369900,
        79500, 185900, 451950, 138000, 319000, 114504, 194201, 217500,
       221000, 359100, 313000, 261500,  75500, 137500, 183200, 105500,
       314813, 305000, 165150, 139900, 209500,  93000, 264561, 274000,
       370878, 143250,  98300, 205950, 350000, 145500,  97500, 197900,
       402000, 423000, 230500, 173500, 103600, 257500, 372500, 159434,
       285000, 227875, 148800, 392000, 194700, 755000, 335000, 108480,
       141500,  89000, 123500, 138500, 196000, 312500, 361919, 213000,
        55000, 302000, 254000, 179540,  52000, 102776, 189000, 130500,
       159500, 341000, 103000, 236500, 131400,  93500, 239900, 299800,
       236000, 265979, 260400, 275500, 158900, 179400, 215200, 337000,
       264132, 216837, 538000, 134900, 102000, 395000, 221500, 175900,
       187100, 161500, 233000, 107900, 160200, 146800, 269790, 143500,
       485000, 582933, 227680, 135500, 159950, 144500,  55993, 157900,
       224900, 271000, 224000, 183000, 139500, 232600, 147400, 237000,
       139950, 174900, 133500, 189950, 250580, 248900, 169000, 200500,
        66500, 303477, 132250, 328900, 122900, 154500, 118858, 142953,
       611657, 125500, 255000, 154300, 173733,  75000,  35311, 238000,
       176500, 145900, 169990, 193000, 117500, 184900, 253000, 239799,
       244400, 150900, 197500, 172000, 116500, 214900, 178900,  37900,
        99500, 182000, 167500,  85500, 178400, 336000, 159895, 255900,
       117000, 395192, 195000, 197000, 348000, 173900, 337500, 121600,
       206000, 232000, 136905, 119200, 227000, 203000, 213490, 194000,
       287000, 293077, 310000, 119750,  84000, 315500, 262280, 278000,
       139600, 556581,  84900, 176485, 200141, 185850, 328000, 167900,
       151400,  91500, 138800, 155900,  83500, 252000,  92900, 176432,
       274725, 134500, 184100, 133700, 118400, 212900, 163900, 259000,
       239500,  94000, 424870, 174500, 116900, 201800, 218000, 235128,
       108959, 233170, 245350, 625000, 171900, 154900, 392500, 745000,
       186700, 104900, 262000, 219210, 116050, 271900, 229456,  80500,
       137900, 367294, 101800, 138887, 265900, 248328, 465000, 186500,
       169900, 171750, 294000, 165400, 301500,  99900, 128900, 183900,
       378500, 381000, 185750,  68400, 150500, 281000, 333168, 206900,
       295493, 111000, 156500,  72500,  52500, 155835, 108500, 283463,
       410000, 156932, 144152, 216000, 274300, 466500,  58500, 237500,
       377500, 246578, 281213, 137450, 193879, 282922, 257000, 223000,
       274970, 182900, 192140, 143750,  64500, 394617, 149700, 149300,
       121000, 179600,  92000, 287090, 266500, 142125, 147500])

In [14]:
df1['KitchenAbvGr'].unique()

array([1, 2, 3, 0])

In [15]:
df1['TotalBsmtSF'].unique()

array([ 856, 1262,  920,  756, 1145,  796, 1686, 1107,  952,  991, 1040,
       1175,  912, 1494, 1253,  832, 1004,    0, 1114, 1029, 1158,  637,
       1777, 1060, 1566,  900, 1704, 1484,  520,  649, 1228, 1234, 1398,
       1561, 1117, 1097, 1297, 1057, 1088, 1350,  840,  938, 1150, 1752,
       1434, 1656,  736,  955,  794,  816, 1842,  384, 1425,  970,  860,
       1410,  780,  530, 1370,  576, 1143, 1947, 1453,  747, 1304, 2223,
        845, 1086,  462,  672, 1768,  440,  896, 1237, 1563, 1065, 1288,
        684,  612, 1013,  990, 1235,  876, 1214,  824,  680, 1588,  960,
        458,  950, 1610,  741, 1226, 1053,  641,  789,  793, 1844,  994,
       1264, 1809, 1028,  729, 1092, 1125, 1673,  728,  732, 1080, 1199,
       1362, 1078,  660, 1008,  924,  992, 1063, 1267, 1461, 1907,  928,
        864, 1734,  910, 1490, 1728,  715,  884,  969, 1710,  825, 1602,
       1200,  572,  774, 1392, 1232, 1572, 1541,  882, 1149,  644, 1617,
       1582,  720, 1064, 1606, 1202, 1151, 1052, 2216,  968,  504, 1188,
       1593,  853,  725, 1431,  855, 1726, 1360,  755, 1713, 1121, 1196,
        617,  848, 1424, 1140, 1100, 1157, 1212,  689, 1070, 1436,  686,
        798, 1248, 1498, 1010,  713, 2392,  630, 1203,  483, 1373, 1194,
       1462,  894, 1414,  996, 1694,  735,  540,  626,  948, 1845, 1020,
       1367, 1444, 1573, 1302, 1314,  975, 1604,  963, 1482,  506,  926,
       1422,  802,  740, 1095, 1385, 1152, 1240, 1560, 2121, 1160,  807,
       1468, 1575,  625,  858,  698, 1079,  768,  795, 1416, 1003,  702,
       1165, 1470, 2000,  700,  319,  861, 1896,  697,  972, 2136,  716,
       1347, 1372, 1249, 1136, 1502, 1162,  710, 1719, 1383,  844,  596,
       1056, 3206, 1358,  943, 1499, 1922, 1536, 1208, 1215,  967,  721,
       1684,  536,  958, 1478,  764, 1848, 1869,  616,  624,  940, 1142,
       1062,  888,  883, 1394, 1099, 1268,  953,  744,  608,  847,  683,
        870, 1580, 1856,  982, 1026, 1293,  939,  784, 1256,  658, 1041,
       1682,  804,  788, 1144,  961, 1260, 1310, 1141,  806, 1281, 1034,
       1276, 1340, 1344,  988,  651, 1518,  907,  901,  765,  799,  648,
       3094, 1440, 1258,  915, 1517,  930,  813, 1533,  872, 1242, 1364,
        588,  709,  560, 1375, 1277, 1626, 1488,  808,  547, 1976, 2153,
       1705, 1833, 1792, 1216,  999, 1113, 1073,  954,  264, 1269,  190,
       3200,  866, 1501,  777, 1218, 1368, 1084, 2006, 1244, 3138, 1379,
       1257, 1452,  528, 2035,  611,  707,  880, 1051, 1581, 1838, 1650,
        723,  654, 1204, 1069, 1709,  998,  993, 1374, 1389, 1163, 1122,
       1496,  846,  372, 1164, 1050, 2042, 1868, 1437,  742,  770, 1722,
       1814, 1430, 1058,  908,  600,  965, 1032, 1299, 1120,  936,  783,
       1822, 1522,  980, 1116,  978, 1156,  636, 1554, 1386,  811, 1520,
       1952, 1766,  981, 1094, 2109,  525,  776, 1486, 1629, 1138, 2077,
       1406, 1021, 1408,  738, 1477, 2046,  923, 1291, 1195, 1190,  874,
        551, 1419, 2444, 1210,  927, 1112, 1391, 1800,  360, 1473, 1643,
       1324,  270,  859,  718, 1176, 1311,  971, 1742,  941, 1698, 1584,
       1595,  868, 1153,  893, 1349, 1337, 1720, 1479, 1030, 1318, 1252,
        983, 1860,  836, 1935, 1614,  761, 1413,  956,  712,  650,  773,
       1926,  731, 1417, 1024,  849, 1442, 1649, 1568,  778, 1489, 2078,
       1454, 1516, 1067, 1559, 1127, 1390, 1273,  918, 1763, 1090, 1054,
       1039, 1148, 1002, 1638,  105,  676, 1184, 1109,  892, 2217, 1505,
       1059,  951, 2330, 1670, 1623, 1017, 1105, 1001,  546,  480, 1134,
       1104, 1272, 1316, 1126, 1181, 1753,  964, 1466,  925, 1905, 1500,
        585, 1632,  819, 1616, 1161,  828,  945,  979,  561,  696, 1330,
        817, 1098, 1428,  673, 1241,  944, 1225, 1266, 1128,  485, 1930,
       1396,  916,  822,  750, 1700, 1007, 1187,  691, 1574, 1680, 1346,
        985, 1657,  602, 1022, 1082,  810, 1504, 1220, 1132, 1565, 1338,
       1654, 1620, 1055,  800, 1306, 1475, 2524, 1992, 1193,  973,  854,
        662, 1103, 1154,  942, 1048,  727,  690, 1096, 1459, 1251, 1247,
       1074, 1271,  290,  655, 1463, 1836,  803,  833,  408,  533, 1012,
       1552, 1005, 1530,  974, 1567, 1006, 1042, 1298,  704,  932, 1219,
       1296, 1198,  959, 1261, 1598, 1683,  818, 1600, 2396, 1624,  831,
       1224,  663,  879,  815, 1630, 2158,  931, 1660,  559, 1300, 1702,
       1075, 1361, 1106, 1476, 1689, 2076,  792, 2110, 1405, 1192,  746,
       1986,  841, 2002, 1332,  935, 1019,  661, 1309, 1328, 1085, 6110,
       1246,  771,  976, 1652, 1278, 1902, 1274, 1393, 1622, 1352,  420,
       1795,  544, 1510,  911,  693, 1284, 1732, 2033,  570, 1980,  814,
        873,  757, 1108, 2633, 1571,  984, 1205,  714, 1746, 1525,  482,
       1356,  862,  839, 1286, 1485, 1594,  622,  791,  708, 1223,  913,
        656, 1319, 1932,  539, 1221, 1542])

The data is already quite clean out-of the box, so not much cleaning was needed.

However, since we have two variables for the number of bathrooms, we may as well merge the FullBath and HalfBath variables by obtaining the sum, store the values into a new column Bathroom, and drop the two former variables.

In [16]:
df1['Bathroom'] = df1.loc[:, ['HalfBath','FullBath']].sum(axis=1)

/var/folders/wz/tf7dxb7n1kn6qkltdtxz4zbw0000gn/T/ipykernel_33481/3879494178.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Bathroom'] = df1.loc[:, ['HalfBath','FullBath']].sum(axis=1)

In [17]:
df1.head()

,LotArea,Neighborhood,BedroomAbvGr,FullBath,HalfBath,KitchenAbvGr,TotalBsmtSF,SalePrice,Bathroom
0,8450,CollgCr,3,2,1,1,856,208500,3
1,9600,Veenker,3,2,0,1,1262,181500,2
2,11250,CollgCr,3,2,1,1,920,223500,3
3,9550,Crawfor,3,1,0,1,756,140000,1
4,14260,NoRidge,4,2,1,1,1145,250000,3

In [18]:
df2 = df1[df1.columns[~df1.columns.isin(['HalfBath','FullBath'])]]
df2.head()

,LotArea,Neighborhood,BedroomAbvGr,KitchenAbvGr,TotalBsmtSF,SalePrice,Bathroom
0,8450,CollgCr,3,1,856,208500,3
1,9600,Veenker,3,1,1262,181500,2
2,11250,CollgCr,3,1,920,223500,3
3,9550,Crawfor,3,1,756,140000,1
4,14260,NoRidge,4,1,1145,250000,3

Add variable area above ground.

In [19]:
df3 = df2.copy()
df3['AreaAboveGr'] = df3.LotArea - df3.TotalBsmtSF
df3.head()

,LotArea,Neighborhood,BedroomAbvGr,KitchenAbvGr,TotalBsmtSF,SalePrice,Bathroom,AreaAboveGr
0,8450,CollgCr,3,1,856,208500,3,7594
1,9600,Veenker,3,1,1262,181500,2,8338
2,11250,CollgCr,3,1,920,223500,3,10330
3,9550,Crawfor,3,1,756,140000,1,8794
4,14260,NoRidge,4,1,1145,250000,3,13115

## 3. Feature Engineering & Outlier Removal

Let's calculate the price per square meter of each real-estate.

In [20]:
df4 = df3.copy()
df4['PriceSqFt'] = df4['SalePrice'] / df4['LotArea']
df4.head()

,LotArea,Neighborhood,BedroomAbvGr,KitchenAbvGr,TotalBsmtSF,SalePrice,Bathroom,AreaAboveGr,PriceSqFt
0,8450,CollgCr,3,1,856,208500,3,7594,24.674556
1,9600,Veenker,3,1,1262,181500,2,8338,18.906250
2,11250,CollgCr,3,1,920,223500,3,10330,19.866667
3,9550,Crawfor,3,1,756,140000,1,8794,14.659686
4,14260,NoRidge,4,1,1145,250000,3,13115,17.531557

Let's focus on the price per square meter variable.

In [21]:
df4.PriceSqFt.describe()

count    1460.000000
mean       21.069878
std        12.387559
min         1.390441
25%        13.775136
50%        17.856628
75%        23.769031
max        95.384615
Name: PriceSqFt, dtype: float64

Remove outliers in PriceSquareM based on the mean and standard deviations. This means that extreme values will not beincluded in our dataframe in order to have a better prediction model.

In [24]:
def remove_pricesqft_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('Neighborhood'):
        m = np.mean(subdf.PriceSqFt)
        st = np.std(subdf.PriceSqFt)
        reduced_df = subdf[ (subdf.PriceSqFt > (m-st)) & (subdf.PriceSqFt <= (m+st)) ]
        df_out = pd.concat([df_out, reduced_df],ignore_index=True)
    return df_out

df5 = remove_pricesqft_outliers(df4)
print("Dataframe shape before outlier removal = ", df4.shape)
print("Dataframe shape after outlier removal = ", df5.shape)
print("Outliers removed =", 1460-1097)

Dataframe shape before outlier removal =  (1460, 9)
Dataframe shape after outlier removal =  (1095, 9)
Outliers removed = 363

Remove variables that are no longer necessary and keep the essential one for building the model for the next stage.

In [78]:
df_a = df5.copy()
df_a = df_a.drop(['TotalBsmtSF', 'AreaAboveGr', 'PriceSqFt'], axis='columns')
df_a.head()

   LotArea Neighborhood  BedroomAbvGr  KitchenAbvGr  SalePrice  Bathroom
0     3010      Blmngtn             2             1     167240         2
1     3182      Blmngtn             2             1     192500         2
2     3182      Blmngtn             2             1     192000         2
3     3072      Blmngtn             2             1     178740         2
4     3922      Blmngtn             2             1     194201         2

## 4. Building Models

In [33]:
dummies_nghbd = pd.get_dummies(df_a.Neighborhood)
dummies_nghbd.head(3)

,Blmngtn,Blueste,BrDale,BrkSide,ClearCr,CollgCr,Crawfor,Edwards,Gilbert,IDOTRR,...,NoRidge,NridgHt,OldTown,SWISU,Sawyer,SawyerW,Somerst,StoneBr,Timber,Veenker
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
df_n = pd.concat([df_a,dummies_nghbd],axis='columns')
df_n.head(3)

,LotArea,Neighborhood,BedroomAbvGr,KitchenAbvGr,SalePrice,Bathroom,Blmngtn,Blueste,BrDale,BrkSide,...,NoRidge,NridgHt,OldTown,SWISU,Sawyer,SawyerW,Somerst,StoneBr,Timber,Veenker
0,3010,Blmngtn,2,1,167240,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3182,Blmngtn,2,1,192500,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3182,Blmngtn,2,1,192000,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
df_n2 = df_n.drop('Neighborhood', axis='columns')
df_n2.head(3)

,LotArea,BedroomAbvGr,KitchenAbvGr,SalePrice,Bathroom,Blmngtn,Blueste,BrDale,BrkSide,ClearCr,...,NoRidge,NridgHt,OldTown,SWISU,Sawyer,SawyerW,Somerst,StoneBr,Timber,Veenker
0,3010,2,1,167240,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3182,2,1,192500,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3182,2,1,192000,2,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
df_n2.shape

(1095, 30)

In [39]:
X = df_n2.drop('SalePrice', axis='columns')
X.head()

,LotArea,BedroomAbvGr,KitchenAbvGr,Bathroom,Blmngtn,Blueste,BrDale,BrkSide,ClearCr,CollgCr,...,NoRidge,NridgHt,OldTown,SWISU,Sawyer,SawyerW,Somerst,StoneBr,Timber,Veenker
0,3010,2,1,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3182,2,1,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3182,2,1,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3072,2,1,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,3922,2,1,2,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
y = df_n2.SalePrice
y.head()

0    167240
1    192500
2    192000
3    178740
4    194201
Name: SalePrice, dtype: int64

Creating the train and test datasets.

In [43]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

Getting the score of LinearRegression().

In [44]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train, y_train)
lr_clf.score(X_test, y_test)

0.7791609727418985

In [45]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.64656494, 0.73324852, 0.74257073, 0.70427591, 0.71373689])

Let's compare the scores of other models.

In [53]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.3, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    scores.append({
            'model': 'LinearRegression',
            'best_score': lr_clf.score(X_test, y_test),
            'best_params': None
        })
    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.158e+11, tolerance: 4.087e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.549e+11, tolerance: 4.286e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.400e+11, tolerance: 4.263e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.275e+11, tolerance: 4.277e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.046e+11, tolerance: 3.933e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.137e+11, tolerance: 4.087e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.089e+11, tolerance: 4.286e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.166e+10, tolerance: 4.263e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.477e+10, tolerance: 4.277e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.413e+11, tolerance: 3.933e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.156e+11, tolerance: 4.087e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.539e+11, tolerance: 4.286e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.461e+11, tolerance: 4.263e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.288e+11, tolerance: 4.277e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.039e+11, tolerance: 3.933e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.256e+10, tolerance: 4.087e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.817e+10, tolerance: 4.286e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.648e+10, tolerance: 4.263e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.970e+10, tolerance: 4.277e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.803e+09, tolerance: 3.933e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.880e+11, tolerance: 6.087e+08
  model = cd_fast.enet_coordinate_descent(
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/model_selection/_validation.py:378: FitFailedWarning:
10 fits failed out of a total of 20.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/tree/_classes.py", line 1247, in fit
    super().fit(
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/tree/_classes.py", line 177, in fit
    self._validate_params()
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py", line 581, in _validate_params
    validate_parameter_constraints(
  File "/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/utils/_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'poisson', 'absolute_error', 'squared_error', 'friedman_mse'}. Got 'mse' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/model_selection/_search.py:952: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.65477552 0.62971516]
  warnings.warn(

,model,best_score,best_params
0,lasso,0.707427,"{'alpha': 2, 'selection': 'random'}"
1,decision_tree,0.654776,"{'criterion': 'friedman_mse', 'splitter': 'best'}"
2,LinearRegression,0.779161,None

In conclusion, the linear regression model gives the best score. We'll use this model for later developments.

Now that the model is determined, we can create the function to predict the price.

In [67]:
def predict_price(neighborhood, area, nb_bed, nb_bath, nb_kitch):
    loc_index = np.where(X.columns == neighborhood)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = area
    x[1] = nb_bed
    x[2] = nb_kitch
    x[3] = nb_bath
    if loc_index >= 0:
        x[loc_index] = 1

    return lr_clf.predict([x])[0]

Let's do some test. We'll use Sommerset (as one of the highest valued area) and Timber (as one of the lowest valued area) and compare the results.

In [68]:
predict_price('Somerst', 1000, 2, 2, 1)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

191679.4072032345

In [69]:
predict_price('Somerst', 750, 2, 2, 1)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

190758.1393433773

In [70]:
predict_price('Somerst', 400, 1, 1, 1)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

158044.98478001222

In [71]:
predict_price('Timber', 1000, 2, 2, 1)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

184115.09105738893

In [72]:
predict_price('Timber', 750, 2, 2, 1)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

183193.82319753175

In [73]:
predict_price('Timber', 400, 1, 1, 1)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

150480.6686341667

The results are coherent so the prediction function works as expected!

## 5. Creating the Web App

We'll implement this estimator as a web app with the help of Streamlit. The full implementation can be found as "PredictorApp.py" and can be launched!

In [77]:
import streamlit as st

st.title("Real-Estate Price Estimator")
st.header("With the help of AI and Machine Learning, find the best estimate for your real-estate in Ames, Iowa.")

col1, col2 = st.columns(2)

list_neighborhoods = ('Bloomington Heights',
'Bluestem',
'Briardale',
'Brookside',
'Clear Creek',
'College Creek',
'Crawford',
'Edwards',
'Gilbert',
'Iowa DOT and Rail Road',
'Meadow Village',
'Mitchell',
'North Ames',
'Northridge',
'Northpark Villa',
'Northridge Heights',
'Northwest Ames',
'Old Town',
'South & West of Iowa State University',
'Sawyer',
'Sawyer West',
'Somerset',
'Stone Brook',
'Timberland',
'Veenker')

with col1:
    area_sqft = st.number_input(
        "Total area (in square feet)"
    )
    neigh =  st.selectbox(
        "Neighborhood",
        list_neighborhoods
    )

match neigh:
    case 'Bloomington Heights':
        neigh = 'Blmngtn'
    case 'Bluestem':
        neigh = 'Blueste'
    case 'Briardale':
        neigh = 'BrDale'
    case 'Brookside':
        neigh = 'BrkSide'
    case 'Clear Creek':
        neigh = 'ClearCr'
    case 'College Creek':
        neigh = 'CollgCr'
    case 'Crawford':
        neigh = 'Crawfor'
    case 'Edwards':
        neigh = 'Edwards'
    case 'Gilbert':
        neigh = 'Gilbert'
    case 'Iowa DOT and Rail Road':
        neigh = 'IDOTRR'
    case 'Meadow Village':
        neigh = 'MeadowV'
    case 'Mitchell':
        neigh = 'Mitchel'
    case 'North Ames':
        neigh = 'Names'
    case 'Northridge':
        neigh = 'NoRidge'
    case 'Northpark Villa':
        neigh = 'NPkVill'
    case 'Northridge Heights':
        neigh = 'NridgHt'
    case 'Northwest Ames':
        neigh = 'NWAmes'
    case 'Old Town':
        neigh = 'OldTown'
    case 'South & West of Iowa State University':
        neigh = 'SWISU'
    case 'Sawyer':
        neigh = 'Sawyer'
    case 'Sawyer West':
        neigh = 'SawyerW'
    case 'Somerset':
        neigh = 'Somerst'
    case 'Stone Brook':
        neigh = 'StoneBr'
    case 'Timberland':
        neigh = 'Timber'
    case 'Veenker':
        neigh = 'Veenker'

with col2:
    nb_bedroom = st.slider('Number of bedrooms', 0, 15, 2)
    nb_bathroom = st.slider('Number of bedrooms', 0, 30, 2)
    nb_kitchen = st.slider('Number of kitchen', 0, 10, 1)

price = predict_price(neigh, float(area_sqft), nb_bedroom, nb_kitchen, nb_bathroom)

if st.button('Calculate'):
    st.write('The price is $', price)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(